// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  padding: 5px;
  border-left: solid #dddddd 10px;
  margin-top: 10px;
  padding: 20px;
}

.ans {
  border-left: solid #dddddd 10px;
  background-color: #ffffe1;
}

footer {
  margin: 20px;
  text-decoration: none;
}
